<!DOCTYPE html>
<html>
    <head>
        <title>
            SettLink
        </title>
    </head>
    <body>
        <form method="POST">
    
           <input type="text" name="TotalCharges" placeholder="TotalCharges"/>

            <input type="text" name="MonthlyCharges" placeholder="MonthlyCharges"/>

            <input type="text" name="tenure" placeholder="tenure"/>
    
            <input type="submit" value="Subimit"/>

            {% if pred %}
                <p><b>{{ pred }}</b></p>
            {% endif %}
        </form>
    </body>
</html>





