<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>❮API -- SettLink❯</title>
</head>
<body>
    <div class="main-login">
        <form method="POST"><samp></samp>
        <div cllass="left-login">
           <h1>Faça login <br> E entre para o nosso time</h1>
        <div class="right-login">
            <div class="card-login">
                <h1>LOG CDDE CC</h1>
                <div class="textfield">
                    s<div class="textfield">
                    <label for="usuario">Total Charges</label>
            
                    <input type="text" name="TotalCharges" placeholder="Total Charges"/>
                    <br><br>
                            </div>
            <div class="textfield">
                <label for="senha">Tenure</label>
                <input type="text" name="tenure" placeholder="Tenure"/>
            </div>
                <div class="textfield">
                    <label for="senha">Monthly Charges</label>
                    <input type="text" name="MonthlyCharges" placeholder="Monthly Charges"/>
                    <br><br>
                </div>

                <button class="btn-login">Login</button>
            </form>
            </div>
        </div>
    </div>
<body>
</html>