<!DOCTYPE html>
<html>
    <head>
        <title>
            SettLink
        </title>
    </head>
    <body>
        <form method="POST">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>

            <input type="text" name="InternetService" placeholder="InternetService"/>

            <input type="text" name="Partner" placeholder="Partner"/>

            <input type="text" name="Dependents" placeholder="Dependents"/>

            <input type="text" name="PhoneService" placeholder="PhoneService"/>

            <input type="text" name="MultipleLines" placeholder="MultipleLines"/>

            <input type="text" name="OnlineSecurity" placeholder="OnlineSecurity"/>

            <input type="text" name="OnlineBackup" placeholder="OnlineBackup"/>

            <input type="text" name="DeviceProtection" placeholder="DeviceProtection"/>

            <input type="text" name="TechSupport" placeholder="TechSupport"/>

            <input type="text" name="StreamingTV" placeholder="StreamingTV"/>

            <input type="text" name="StreamingMovies" placeholder="StreamingMovies"/>

            <input type="text" name="Contract" placeholder="Contract"/>

            <input type="text" name="PaymentMethod" placeholder="PaymentMethod"/>

            <input type="text" name="PaperlessBilling" placeholder="PaperlessBilling"/>

            <input type="text" name="SeniorCitizen" placeholder="SeniorCitizen"/>

            <input type="text" name="tenure" placeholder="tenure"/>

            <input type="text" name="MonthlyCharges" placeholder="MonthlyCharges"/>            

            
            <input type="text" name="TotalCharges" placeholder="TotalCharges"/>

            <input type="submit" value="Subimit"/>

            {% if predN %}
                <p>Nitrogênio (N) : <b>{{ predN }}</b></p>
                <p>Valor do Fósforo (P) : <b>{{ predP }}</b></p>
                <p>Valor do Potássio (K): <b>{{ predK }}</b></p>
            
            {% endif %}
        </form>
    </body>
</html>





